name: 'CDK'
on:
  push:
    branches:
    - main
  pull_request:
jobs:
  cdk:
    name: 'CDK'
    runs-on: ubuntu-22.04
    environment: production
    defaults:
      run:
        shell: bash
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'
        dotnet-quality: 'preview'
    - name: Build/Compile Project
      run: dotnet build src
    - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: ${{ secrets.AWS_ROLE_SESSION_NAME }}
        aws-region: 'ap-southeast-3'
    - name: Install CDK
      run: |
        npm install -g aws-cdk
        cdk doctor
    - name: Synth
      run: cdk synth
    - name: Diff
      run: cdk diff
    - name: Deploy
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: cdk deploy
