name: 'CDK'
on:
  push:
    branches:
    - main
  pull_request:
jobs:
  test:
    name: 'Test CDK'
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v5
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
        dotnet-quality: 'preview'
    - name: Build/Compile Project
      run: dotnet build src
    - name: Install CDK
      run: |
        npm install -g aws-cdk
        cdk doctor
    - name: Synth
      run: cdk synth
  deploy:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: test
    name: 'Deploy with CDK'
    runs-on: ubuntu-22.04
    environment: production
    defaults:
      run:
        shell: bash
    permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v5
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
        dotnet-quality: 'preview'
    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        role-session-name: ${{ secrets.AWS_ROLE_SESSION_NAME }}
        aws-region: 'ap-southeast-3'
    - name: Install CDK
      run: |
        npm install -g aws-cdk
        cdk doctor
    - name: Diff
      run: cdk diff
    - name: Deploy
      run: cdk deploy
